<h1 align="center">TheTaskManager</h1>
<br>

{{#if errors}}
<div align="center" style="color:red" class="validation-error">
    {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2 align="center">Welcome, {{currentUser.name}}</h2>
    <div>
        <h4 align="center">Your Tasks</h4>

        {{#if tasks}}
            <ul>
            {{#each tasks}}
               {{#if this.isComplete}}
               <div class="tasks-list-item complete-task">
               {{else}}
               <div class="tasks-list-item">
               {{/if}}
                
                  <span class="tasks-list-desc task-title" >{{this.title}}</span>
                  
                  {{#if isOwner}}
                      <form action="/task/delete" method="POST">
                        <input type="hidden" name="ownerTask" value={{this.owner}}>
                        <input type="hidden" name="titleTask" value={{this.title}}>
                        <input type="submit" name="delete-task" class="delete-task" value="Delete">
                      </form>
                  {{/if}}
                  
                  {{#if this.isComplete}}
                     <div class="complete-task">
                        <form action="/task/complete" method="POST">
                           <input type="hidden" name="ownerTask" value={{this.owner}}>
                           <input type="hidden" name="titleTask" value={{this.title}}>
                           <input type="submit" name="toggle-task" style="color: blue" class="toggle-task" value="Complete">
                        </form>
                     </div>
                  {{else}}
                     <form action="/task/complete" method="POST">
                        <input type="hidden" name="ownerTask" value={{this.owner}}>
                        <input type="hidden" name="titleTask" value={{this.title}}>
                        <input type="hidden" name="completeTask" value={{this.isComplete}}>
                        <input type="submit" name="toggle-task" class="toggle-task" value="Incomplete">
                     </form>
                  {{/if}}
                </div>
            {{/each}}
            </ul>
        {{else}}
            <h4 align="center">No tasks to show!</h4>
        {{/if}}
    </div>

    <div class="task-card">
        <h1>Add a new task</h1>
        <form action="/task/create" method="POST">
            <label for="title">Task title</label>
            <input name="title" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="text"><br>
            <input name="collaborator2" type="text"><br>
            <input name="collaborator3" type="text"><br>
            <input type="submit" class="create-task-submit login login-submit">
        </form>
    </div>

{{else}}
<div class="login-card">
   <h1>Log-in</h1>
   <form action="/user/login" method="POST">
      <input name="email" id="email" type="text" placeholder="Email"><br>
      <input name="password"  id="password" type="text" placeholder="Password"><br>
      <input type="submit" class="log-in-submit login login-submit">
   </form>
</div>

<h1 align="center">Or</h1>


{{!--<div><hr></div>--}}


<div class="login-card">
   <h1>Register</h1>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="text" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit login login-submit" type="submit">
    </form>
</div>
{{/if}}

    
    